Repository lab-antwerp-1/agile-group-4, pull requests merged in 2021-10, with the labels that each got.

#14 backlog.md
  planning/backlog.md
Labels: Backlog

#19 adding user stories for the homepage
  planning/backlog.md
Labels: Backlog

#23 CI checks added to the repo and files updated to pass the checks
  .cspell.json
  .github/workflows/lint-and-validate.yml
  README.md
  package-lock.json
  planning/README.md
  planning/backlog.md
  planning/communication.md
  planning/design.md
  planning/development-strategy.md
  planning/userPersonas.md
Labels: general

#24 Update index.html
  index.html
Labels: html

#27 Update about-us.html
  about-us.html
Labels: html

#30 Update contact-us.html
  contact-us.html
Labels: html

#31 Development strategy
  planning/development-strategy.md
Labels: development-strategy

#35 Constraints added
  planning/constraints.md
Labels: constraints

#46 Transparent background image
  styles/style.css
Labels: css
